<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>#smartUPS</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<true/>
			<key>#EnableC4</key>
			<false/>
			<key>#PluginType</key>
			<integer>0</integer>
			<key>#DoubleFirstState</key>
			<true/>
			<key>#EnableC2</key>
			<false/>
			<key>PluginType</key>
			<string>1</string>
			<key>#MaxMultiplier</key>
			<integer>12</integer>
			<key>#MinMultiplier</key>
			<integer>8</integer>
			<key>#EnableC6</key>
			<true/>
			<key>#C3Latency</key>
			<string>0x03E7</string>
			<key>DropOem</key>
			<false/>
			<key>#DropOem</key>
			<true/>
			<key>#UnderVoltStep</key>
			<integer>1</integer>
			<key>#PLimitDict</key>
			<integer>1</integer>
			<key>#UseSystemIO</key>
			<false/>
			<key>#EnableC7</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<true/>
			</dict>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>#DropMCFG</key>
		<false/>
		<key>FixHeaders</key>
		<true/>
		<key>#ResetAddress</key>
		<string>0x64</string>
		<key>#ResetValue</key>
		<string>0xFE</string>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApCst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApIst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>#PatchAPIC</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Replace</key>
					<data>oAqRCv8L//8=</data>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>oAqTU1RBUwE=</data>
				</dict>
				<dict>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>WEhDSQ==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
			</array>
			<key>#DropOEM_DSM</key>
			<dict>
				<key>USB</key>
				<true/>
				<key>HDMI</key>
				<true/>
				<key>ATI</key>
				<true/>
				<key>SmBUS</key>
				<false/>
				<key>LAN</key>
				<true/>
				<key>IntelGFX</key>
				<true/>
				<key>WIFI</key>
				<true/>
				<key>LPC</key>
				<false/>
				<key>Firewire</key>
				<true/>
				<key>IDE</key>
				<true/>
				<key>NVidia</key>
				<true/>
				<key>HDA</key>
				<true/>
				<key>SATA</key>
				<true/>
			</dict>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixDisplay</key>
				<true/>
				<key>AddDTGP</key>
				<true/>
				<key>FixUSB</key>
				<true/>
				<key>FixDarwin7</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>#Rtc8Allowed</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
			<key>#Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>W4IeQkFUMQhfSElEDEHQDAoIX1VJRAEUCF9TVEEApAA=</data>
					<key>Comment</key>
					<string>Remove battery device from desktop</string>
					<key>Replace</key>
					<data></data>
				</dict>
				<dict>
					<key>Find</key>
					<data>UFhTWAhfQURSAAhfUFJXEgYC</data>
					<key>Comment</key>
					<string>Add _SUN property for GIGE</string>
					<key>Replace</key>
					<data>UFhTWAhfQURSAAhfU1VOCgQIX1BSVxIGAg==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU</string>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERFRg==</data>
					<key>Comment</key>
					<string>Rename HDEF to AZAL</string>
					<key>Replace</key>
					<data>QVpBTA==</data>
				</dict>
			</array>
			<key>#SuspendOverride</key>
			<false/>
		</dict>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT-3.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
		</array>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Arguments</key>
		<string>kext-dev-mode=1 rootless=0 debug=0x100 -disablegfxfirmware</string>
		<key>Timeout</key>
		<integer>3</integer>
		<key>DefaultLoader</key>
		<string>BOOTX64.efi</string>
		<key>##Arguments</key>
		<string>kext-dev-mode=1 rootless=0</string>
		<key>#Arguments</key>
		<string>-v arch=x86_64 slide=0 darkwake=0</string>
		<key>DefaultVolume</key>
		<string>Mac OS</string>
		<key>#XMPDetection</key>
		<string>-1</string>
		<key>Legacy</key>
		<string>PBRsata</string>
		<key>Debug</key>
		<false/>
		<key>#LegacyBiosDefaultEntry</key>
		<integer>0</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>#Language</key>
		<string>zh_CN:0</string>
		<key>KbdPrevLang</key>
		<false/>
		<key>#Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>#CustomIcons</key>
		<false/>
		<key>CustomIcons</key>
		<true/>
		<key>#Scan</key>
		<dict>
			<key>Legacy</key>
			<false/>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>Catalina</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>ScreenResolution</key>
		<string>2560x1080</string>
		<key>#Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>2</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>#ConsoleMode</key>
		<string>0</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Ignore</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Volume</key>
					<string>7F033F3A-85B5-486D-9DBF-E360F87D3870</string>
					<key>CustomLogo</key>
					<string>Apple</string>
					<key>FullTitle</key>
					<string>PhoenixOS</string>
					<key>Disabled</key>
					<false/>
					<key>Path</key>
					<string>\EFI\Boot\grubx64.efi</string>
					<key>Type</key>
					<string>Other</string>
					<key>Image</key>
					<string>ubuntu</string>
					<key>NoCaches</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Speed</key>
			<integer>6</integer>
			<key>DoubleClick</key>
			<integer>700</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>EmbeddedThemeType</key>
		<string>Daytime</string>
		<key>#Custom</key>
		<dict>
			<key>Legacy</key>
			<array>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>L</string>
					<key>Volume</key>
					<string>89433CD3-21F2-4D3C-95FC-722C48066D3A</string>
					<key>Disabled</key>
					<true/>
					<key>Type</key>
					<string>Windows</string>
					<key>Title</key>
					<string>MyLegacyEntry</string>
				</dict>
			</array>
			<key>Entries</key>
			<array>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>M</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
					<key>Arguments</key>
					<string>Kernel=mach_kernel</string>
					<key>Disabled</key>
					<true/>
					<key>AddArguments</key>
					<string>-v</string>
					<key>Path</key>
					<string>\EFI\BOOT\BOOTX64.efi</string>
					<key>Title</key>
					<string>MyCustomEntry</string>
					<key>NoCaches</key>
					<false/>
					<key>InjectKexts</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Volume</key>
					<string>454794AC-760D-46E8-8F77-D6EB23D2FD32</string>
					<key>SubEntries</key>
					<array>
						<dict>
							<key>AddArguments</key>
							<string>-v</string>
							<key>Title</key>
							<string>Boot OS X 10.8.5 (12F36) Mountain Lion in Verbose Mode</string>
						</dict>
					</array>
					<key>Type</key>
					<string>OSX</string>
					<key>Title</key>
					<string>OS X 10.8.5 (12F36) Mountain Lion</string>
					<key>NoCaches</key>
					<false/>
					<key>InjectKexts</key>
					<false/>
				</dict>
			</array>
			<key>Tool</key>
			<array>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Hotkey</key>
					<string>S</string>
					<key>Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
					<key>Arguments</key>
					<string>-b</string>
					<key>Disabled</key>
					<false/>
					<key>Path</key>
					<string>\EFI\CLOVER\TOOLS\Shell64-v1.efi</string>
					<key>Title</key>
					<string>MyCustomShell</string>
				</dict>
			</array>
		</dict>
		<key>PlayAsync</key>
		<true/>
		<key>#TextOnly</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>DefaultBackgroundColor</key>
		<string>0x3399FF</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>UseARTFrequency</key>
		<true/>
		<key>#HWPEnable</key>
		<true/>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>#Type</key>
		<string>0x0201</string>
		<key>#TurboDisable</key>
		<true/>
		<key>#UseARTFrequency</key>
		<true/>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#TDP</key>
		<integer>95</integer>
		<key>HWPEnable</key>
		<true/>
		<key>Type</key>
		<string>0x0601</string>
		<key>#HWPValue</key>
		<string>0x30002a01</string>
		<key>C6</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#FakeID</key>
		<dict>
			<key>#WIFI</key>
			<string>0x431214e4</string>
			<key>#IntelGFX</key>
			<string>0x01268086</string>
			<key>#LAN</key>
			<string>0x100E8086</string>
			<key>#SATA</key>
			<string>0x25628086</string>
			<key>#IMEI</key>
			<string>0x1e208086</string>
			<key>#ATI</key>
			<string>0x67501002</string>
			<key>#NVidia</key>
			<string>0x11de10de</string>
			<key>#XHCI</key>
			<string>0x0</string>
		</dict>
		<key>#Properties</key>
		<string>7a00000001000000010000006e0000000200000002010c00d041030a0000000001010600001b7fff040028000000500069006e0043006f006e00660069006700750072006100740069006f006e00730000000800000001080100180000006c00610079006f00750074002d00690064000000080000000c000000</string>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>1</integer>
			<key>#Inject</key>
			<string>0x0887</string>
		</dict>
		<key>#Inject</key>
		<false/>
		<key>#AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>AAPL,HasPanel</string>
				<key>Value</key>
				<data>AQAAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>AAPL,Haslid</string>
				<key>Value</key>
				<data>AQAAAA==</data>
			</dict>
		</array>
		<key>#ForceHPET</key>
		<false/>
		<key>#SetIntelBacklight</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#DualLink</key>
		<integer>0</integer>
		<key>#Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
			<key>NVidia</key>
			<false/>
			<key>Intel</key>
			<false/>
		</dict>
		<key>#ig-platform-id</key>
		<string>0x01620005</string>
		<key>#Connectors</key>
		<array/>
		<key>#PatchVBios</key>
		<false/>
		<key>RadeonDeInit</key>
		<false/>
		<key>#FBName</key>
		<string>Makakakakala</string>
		<key>#VRAM</key>
		<integer>1024</integer>
		<key>#PatchVBiosBytes</key>
		<array>
			<dict>
				<key>Find</key>
				<data>gAeoAqAF</data>
				<key>Replace</key>
				<data>gAeoAjgE</data>
			</dict>
		</array>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>EDID</key>
		<dict>
			<key>#ProductID</key>
			<string>0x9221</string>
			<key>Inject</key>
			<false/>
			<key>#VendorID</key>
			<string>0x1006</string>
			<key>#Custom</key>
			<string>00ffffffffffff00061021920000000000120103802115780ae9d59959538e2826505400000001010101010101010101010101010101de21a07050841f30202056004bcf10000018de21a07050841f30202056004bcf10000000000000fe005736353747003135345750310a000000fe0023333d486584aaff02010a2020009a</string>
			<key>#Inject</key>
			<true/>
		</dict>
		<key>NvidiaGeneric</key>
		<false/>
		<key>#LoadVBios</key>
		<false/>
		<key>#display-cfg</key>
		<string>03010300FFFF0001</string>
		<key>#NVCAP</key>
		<string>04000000000003000C0000000000000A00000000</string>
		<key>#NvidiaSingle</key>
		<false/>
		<key>#NvidiaGeneric</key>
		<true/>
		<key>#VideoPorts</key>
		<integer>2</integer>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelLapic</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x (credit lisai9093, cecekpawon)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAdSU=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6yU=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Second stage patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQMDAwAAIAIAAAAAAAAAYA==</data>
				<key>Name</key>
				<string>AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>AQMDAwAAIAIAAAAAAAAAgA==</data>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SIXAdAeAi2A=</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>SIXAZpCAi2A=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>14.4</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>TIltuHZG</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>TIltuOtG</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.13.2/3 (credit RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>gflSqgAAdSk=</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>gflSqgAAZpA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>AirPortBrcm4360 - fcvo</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g32IDw+DpwQ=</data>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext for 10.13.6</string>
				<key>Disabled</key>
				<true/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32IGg+DpwQ=</data>
				<key>MatchOS</key>
				<string>10.13.6</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>g710////EA==</data>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g710////Gw==</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>12.6</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPD4MDBQAA</data>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/sPkJCQkJCQ</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14 usb</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPD4OPBAAA</data>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/sPkJCQkJCQ</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14.1 usb</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g/sPD4cLBAAA</data>
				<key>Comment</key>
				<string>USB Port Limit Patch#1 10.14.4 ©PMHeart</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/D4cLBAAA</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>icGB4f8PAABIAdFIgfn/DwAAdzs=</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>icGB4f8BAABIAdFIgfn/AQAAdzs=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#6_7</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>di1I/wUGOQY=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>6y1I/wUGOQY=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14.1 5代</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>di1I/wVWNwY=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>6y1I/wVWNwY=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14 5代</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>dkBI/wVl8gc=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60BI/wVl8gc=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14.1 6代</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>dkBI/wX97gc=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60BI/wX97gc=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14 6代</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>dkZI/wWSbAg=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCFLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60ZI/wWSbAg=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14.1 8代</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>dkZI/wXscQg=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60ZI/wXscQg=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14.1 7代</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>dkZI/wX4ZQg=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCFLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60ZI/wX4ZQg=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14 8代</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>dkZI/wX8awg=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60ZI/wX8awg=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string> 10.14 7代</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>9oDUAAAAgHU0</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>9oDUAAAAgOs0</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.10.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>9oDUAAAAgHU6</data>
				<key>Name</key>
				<string>com.apple.driver.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>9oDUAAAAgOs6</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable Intel, Fresco Logic USB3.0 controllers check, 10.9.* (credit Zenith432)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>9sEQD4VEAQAA</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>9sEBD4VEAQAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>14.4</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>QYP/Dw+DlAQAAA==</data>
				<key>Comment</key>
				<string>USB Port Limit Patch#2 10.14.4 ©PMHeart</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>QYP/Pw+DlAQAAA==</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
			</dict>
		</array>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>MatchOS</key>
				<string>10.13</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>sABMi1Xw</data>
				<key>Replace</key>
				<data>SIPEQF3D</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 debug kernel (credit Vandroiy)</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit Vandroiy)</string>
			</dict>
			<dict>
				<key>Replace</key>
				<data>uwD/AABIY9OJ0EjB6iC5mQEAAA8wSP8Fub1rAEiDxAhbXcOQkJCQkJCQkA==</data>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>weMISGPTidBIweoguZkBAAAPMEj/Bbm9awBIg8QIW13DZi4PH4QAAAAAAA==</data>
			</dict>
			<dict>
				<key>Replace</key>
				<data>vgsAAABdw5CQkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>vgsAAABd6QgAAAA=</data>
			</dict>
			<dict>
				<key>Replace</key>
				<data>vgsAAAAx0pCQkJCQ</data>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>vgsAAAAx0uhf/P//</data>
			</dict>
			<dict>
				<key>Replace</key>
				<data>vgcAAAAx0pCQkJCQ</data>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>vgcAAAAx0uiP/P//</data>
			</dict>
			<dict>
				<key>Replace</key>
				<data>igKEwOtC</data>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRC</data>
			</dict>
		</array>
		<key>#ATIConnectorsPatch</key>
		<string>040000001402000000010000000004040004000004030000000100001102010500000000000000000000000000000000</string>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>#KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SGVhZHBob25lcwA=</data>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>VoodooHDA</string>
				<key>Replace</key>
				<data>VGVsZXBob25lcwA=</data>
			</dict>
			<dict>
				<key>Find</key>
				<data>BAIAAA==</data>
				<key>Comment</key>
				<string>Patch_to_not_load_this_driver</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>RCIAAA==</data>
			</dict>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Comment</key>
				<string>Make all drives to be internal</string>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
			<dict>
				<key>Find</key>
				<data>QVBQTEUgU1NEAA==</data>
				<key>Comment</key>
				<string>TRIM function for non-Apple SSDs</string>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAA==</data>
			</dict>
			<dict>
				<key>Find</key>
				<data>AAQAAAQDAAAAAQAAIQMCBAQAAAAUAgAAAAEAAAAABAMQAAAAEAAAAAABAAAAAAAB</data>
				<key>Comment</key>
				<string>ATI Connector patch new way</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.9,10.10,10.11</string>
				<key>Name</key>
				<string>AMD6000Controller</string>
				<key>Replace</key>
				<data>BAAAABQCAAAAAQAAAAAEBAAEAAAEAwAAAAEAABECAQUAAAAAAAAAAAAAAAAAAAAA</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>#BootPatches</key>
		<array>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Comment</key>
				<string>Example</string>
				<key>Disabled</key>
				<true/>
				<key>MatchOS</key>
				<string>All</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
		</array>
		<key>#FakeCPUID</key>
		<string>0x010676</string>
		<key>#ATIConnectorsController</key>
		<string>6000</string>
		<key>KernelCpu</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\AppleIntelKBLGraphicsFramebuffer.kext</string>
		</array>
		<key>#ATIConnectorsData</key>
		<string>000400000403000000010000210302040400000014020000000100000000040310000000100000000001000000000001</string>
		<key>Debug</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>+d6d6UYf</data>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosVersion</key>
		<string>IM183.88Z.F000.B00.1812191143</string>
		<key>Family</key>
		<string>iMac</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>#LocationInChassis</key>
		<string>MLB</string>
		<key>#BiosVendor</key>
		<string>Apple Inc.</string>
		<key>SmUUID</key>
		<string>AA47EBAB-D49A-4526-A59A-9CCF99C0344C</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>#ChassisType</key>
		<integer>16</integer>
		<key>Version</key>
		<string>1.0</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ProductName</key>
		<string>iMac18,3</string>
		<key>SerialNumber</key>
		<string>C02X2WYVJ1GJ</string>
		<key>#BoardVersion</key>
		<string>Proto1</string>
		<key>#Mobile</key>
		<true/>
		<key>#BiosVersion</key>
		<string>MB11.88Z.0061.B03.0809221748</string>
		<key>#Trust</key>
		<true/>
		<key>BiosReleaseDate</key>
		<string>12/19/2018</string>
		<key>#BoardType</key>
		<integer>10</integer>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>#SerialNumber</key>
		<string>4H629LYAU9C</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>#BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>#ProductName</key>
		<string>MacBook1,1</string>
		<key>#Board-ID</key>
		<string>Mac-F4208CC8</string>
		<key>#ChassisAssetTag</key>
		<string>LatitudeD420</string>
		<key>#Family</key>
		<string>MacBook</string>
		<key>#Memory</key>
		<dict>
			<key>Modules</key>
			<array>
				<dict>
					<key>Serial</key>
					<string>00001001</string>
					<key>Part</key>
					<string>C0001403</string>
					<key>Vendor</key>
					<string>Kingston</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Slot</key>
					<integer>0</integer>
					<key>Type</key>
					<string>DDR3</string>
				</dict>
				<dict>
					<key>Serial</key>
					<string>00001002</string>
					<key>Part</key>
					<string>C0001404</string>
					<key>Vendor</key>
					<string>Kingston</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Slot</key>
					<integer>2</integer>
					<key>Type</key>
					<string>DDR3</string>
				</dict>
			</array>
			<key>SlotCount</key>
			<integer>4</integer>
			<key>Channels</key>
			<integer>2</integer>
		</dict>
		<key>#BoardSerialNumber</key>
		<string>C02032101R5DC771H</string>
		<key>Mobile</key>
		<false/>
		<key>#FirmwareFeatures</key>
		<string>0xC0001403</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>#ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>#Version</key>
		<string>1.0</string>
		<key>#FirmwareFeaturesMask</key>
		<string>0xFFFFFFFF</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>#Slots</key>
		<array>
			<dict>
				<key>Device</key>
				<string>ATI</string>
				<key>Type</key>
				<integer>16</integer>
				<key>Name</key>
				<string>PCIe Slot 0</string>
				<key>ID</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Device</key>
				<string>WIFI</string>
				<key>Type</key>
				<integer>1</integer>
				<key>Name</key>
				<string>Airport</string>
				<key>ID</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02828301QXJ0PGJA</string>
		<key>#SmUUID</key>
		<string>00000000-0000-1000-8000-010203040506</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>#PlatformFeature</key>
		<integer>3</integer>
		<key>Memory</key>
		<dict>
			<key>Channels</key>
			<integer>2</integer>
			<key>SlotCount</key>
			<integer>2</integer>
		</dict>
		<key>EfiVersion</key>
		<string>167.0.0.0.0</string>
		<key>Board-ID</key>
		<string>Mac-BE088AF8C5EB4FA2</string>
		<key>PlatformFeature</key>
		<string>0x00</string>
		<key>#BiosReleaseDate</key>
		<string>05/03/10</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>CustomUUID</key>
		<string>D9F5B8C9-6823-4172-88C1-87D815B87BD7</string>
		<key>#CustomUUID</key>
		<string>511CE201-1000-4000-9999-010203040506</string>
		<key>#NvidiaWeb</key>
		<false/>
		<key>NvidiaWeb</key>
		<true/>
		<key>InjectSystemID</key>
		<true/>
		<key>#BacklightLevel</key>
		<string>0x0501</string>
	</dict>
	<key>KernelToPatch</key>
	<array>
		<dict>
			<key>Find</key>
			<data>sABMi1Xw</data>
			<key>Comment</key>
			<string>Disable panic kext logging on 10.13 Debug kernel</string>
			<key>Disabled</key>
			<false/>
			<key>Replace</key>
			<data>SIPEQF3D</data>
		</dict>
		<dict>
			<key>Find</key>
			<data>igKEwHRE</data>
			<key>Comment</key>
			<string>Disable panic kext logging on 10.13 Release kernel</string>
			<key>Disabled</key>
			<false/>
			<key>Replace</key>
			<data>igKEwOtE</data>
		</dict>
	</array>
	<key>Comment</key>
	<string>Common patches not specific to a graphics device</string>
</dict>
</plist>